In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
print("Pandas version:",pd.__version__)
print("Numpy version:",np.__version__)

('Pandas version:', u'0.18.1')
('Numpy version:', '1.11.1')

**Challenge 1**

Open up a new IPython notebook

Download a few MTA turnstile data files

In [20]:
#MTA Turnstile data from week of April 30, 2016
df = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_160507.txt')

Open up a file, use csv reader to read it, make a python dict where there is a key for each (C/A, UNIT, SCP, STATION). These are the first four columns. The value for this key should be a list of lists. Each list in the list is the rest of the columns in a row. For example, one key-value pair should look like

`{ ('A002','R051','02-00-00','LEXINGTON AVE'): [ ['NQR456', 'BMT', '01/03/2015', '03:00:00', 'REGULAR', '0004945474', '0001675324'], ['NQR456', 'BMT', '01/03/2015', '07:00:00', 'REGULAR', '0004945478', '0001675333'], ['NQR456', 'BMT', '01/03/2015', '11:00:00', 'REGULAR', '0004945515', '0001675364'], ... ] }`

In [21]:
df = df.sample(10, random_state=16)
df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
136393,R175,R169,01-00-04,137 ST CITY COL,1,IRT,04/30/2016,13:00:00,REGULAR,604660744,869456549
184635,R608,R056,00-00-01,NEVINS ST,2345,IRT,05/02/2016,04:00:00,REGULAR,8592937,4496531
99198,N525,R142,01-00-04,DELANCEY/ESSEX,FJMZ,IND,04/30/2016,01:00:00,REGULAR,10131667,9174032
88140,N343,R019,00-00-02,JAMAICA 179 ST,F,IND,04/30/2016,16:00:00,REGULAR,5328269,6436782
130653,R155,R116,01-00-04,50 ST,1,IRT,05/05/2016,08:00:00,REGULAR,4288162,1626681
123904,R121,R290,01-05-00,HOUSTON ST,1,IRT,04/30/2016,01:00:00,REGULAR,682,0
122122,R113,R028,01-06-01,FULTON ST,2345ACJZ,IRT,05/01/2016,11:00:00,REGULAR,1546582,1504670
123427,R118,R343,01-00-00,FRANKLIN ST,1,IRT,05/05/2016,21:00:00,REGULAR,474870,546439
154151,R248,R178,00-00-06,77 ST,6,IRT,05/04/2016,17:00:00,REGULAR,18939997,4285313
130797,R155,R116,01-00-07,50 ST,1,IRT,05/06/2016,08:00:00,REGULAR,5617175,7600563

In [29]:
keys_tuple = (df['C/A'], df['UNIT'], df['SCP'], df['STATION'])
keys_tuple
#keys_set = set(keys_list)

SyntaxError: invalid syntax (<ipython-input-29-d35a462e7da5>, line 1)